
#root {
    all: unset;
    font-size: 125%;
}

.navbar {
    background-color: #333;
    padding: 10px;

    display: flex;
    align-items: center;
}

.navbar-brand {
    max-width: 2em;
}

.navLink {

    float: left;

    display: inline-block;

    color: white;
    text-decoration: none;
    font-size: 1.5em;

    padding: 0 1em;
}

.navLink:hover {
    color: #ddd;
}

.spacer {
    height: 24em;
    width: 100vw;
}

/*   Sponsor Container    */
.sponsor-container {
    border-radius: 1em;
    border: 5px solid black;
    padding: 1em;
    margin: 1em;
}